---
import LanguagePickerIndex from "../components/LanguagePickerIndex.astro";
import VersionPickerIndex from "../components/VersionPickerIndex.astro";


let { version, locales } = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{ version }</title>
	</head>
	<body class="p-2">

		<header class="container mx-auto">
			<ul class="flex list-none flex-wrap mb-2 gap-2">
				<li class="flex list-none">
					<a class="p-2 border rounded hover:bg-slate-100" href="../">← Back to Home</a>
				</li>
				<li class="flex list-none">
					<a class="p-2 border rounded hover:bg-slate-100" href="./">Version: { version }</a>
				</li>
			</ul>
			<VersionPickerIndex />
			<LanguagePickerIndex locales={ locales } />
		</header>
		<main class="container mx-auto">
		</main>

	</body>
</html>
